iframe {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #ddddcc;
	display: block;
	overflow: hidden;
	width: 100%;
}
fieldset legend {
	line-height: inherit;
	margin-bottom: 0;
	padding-top: 1em;
}
div.actions {
	height: 38px;
	margin-top: 1em;
	padding: 1.75em 1.75em 0 0;
	text-align: right;
}
div.actions:first-child {
	border-top: none;
	margin-top: 0;
}
div.actions select {
	display: inline-block;
	margin: 0;
	width: auto;
}