/*---------------------------------------------------------------------------------
	Make things simple!
---------------------------------------------------------------------------------*/
	
	* {
		border: none;
		color: inherit;
		font-size: 1em;
		line-height: 140%;
		margin: 0;
		outline: none;
		padding: 0;
	}
	body {
		font: 100% 'georgia', serif;
	}
	
/*-------------------------------------------------------------------------------*/